<h1>{{title}}</h1>
<p>Bem vindos ao {{title}}</p>
1293812093810923^0 Elefante<br>
sqr(4) Elefantes<br>
81/27 Elefantes<br>
2^2 Elefantes<br>
10/2 Elefantes<br>
2*3 Elefantes<br>
343^(1/3) Elefantes<br>
2^3 Elefantes<br>
3^2 Elefantes<br>
100000^(1/5) Elefantes<br>
1321^(1/3) Elefantes<br>
144/12 Elefantes<br>
169^0.5 Elefantes<br>
196/7/2 Elefantes<br>
3*5 Elefantes<br>
